@model IEnumerable<TrainingInChetu.Models.Customer>
<h1>Customers List of Customers</h1>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Sn No</th>
            <th>Customer Name</th>
            <th>Contact No</th>
            <th>Email ID</th>
            <th>Address</th>
        </tr>
        @foreach(var cl in Model)
            {
                <tr>
                    <td>@cl.Id</td>
                    <td>@cl.Name</td>
                    <td>@cl.Contactno</td>
                    <td>@cl.EmailId</td>
                    <td>@cl.Address</td>
                </tr>
            }
    </table>
</div>
